<h1>Welcome to Cookies app</h1>

<h2 id="info">
  <%= flash[:info] %>
</h2>

<h2 id="error">
  <%= flash[:error] %>
</h2>

<p>How many cookies do you want to make?</p>

<%= form_tag(cookies_path , :method => "POST") do %>

  <select name="num_cookies" id="num_cookies">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select>

  <button id="make">Make Cookies!</button>

<% end %>
